body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.0rem;
    background-image: url(./sticks.jpg);
    background-repeat: no-repeat;

    
}

.logo{
    font-weight: 900;
    font-size: 1.5rem;    
}
 
.nav-item{
    margin: 0 20px;
    cursor: pointer;
}

.navbar-position{

    z-index: 1;
}
.btn-signOut{
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
}
.btn-outline-light {
    margin-left: 20px;
  }
  
  .login-photo{

    width: 5.3rem;
}

.features-icon {
    font-size: 3rem;
    color: #5a34fc;
  }
  
  .overview-row {
    margin-top: 5rem;
  }
  
  .overview-header {
    font-weight: 600;
  }
  
  .features-icon,
  .overview-header,
  .info-width {
    padding: 1rem 0;
  }

  .feature-cards{

   margin-left: 100px;
   height: 280px;
   margin-top: 10px;
   padding-bottom: 40px;

  }
  .image{
      margin-top: 40px;
      width: 70px;
  }