body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.0rem;
}

.logo{
    font-weight: 900;
    font-size: 1.5rem;    
}
 
.nav-item{
    margin: 0 20px;
    cursor: pointer;
}
/* 
.form-align{

    margin-left: 410px;
    width: 1100px;
} */

.signin{
    width: 500px;
}

.forgot-password{
    font-weight: 500;
    font-style: italic;
}

.login-photo{

    width: 5.3rem;
}